/*Claudio
SITE BELINS*/ 

/*div{border:#FFF solid 1px;}*/


body{background-color:#E8E8E8;}

.text_c{text-align:center; color:#0000FF}

.text_c3{text-align:center; color:#00BFFF}

.text_c2{text-align:center; color:#FF7F00;}

/* O  QUE FAZEMOS */

.parte1{background-color:#0000FF; color:#FFFFFF; text-align:justify;}

.parte2{background-color:#FFA500; color:#FFFFFF; text-align:justify;}

.parte3{background-color:#00CD00; color:#FFFFFF; text-align:justify;}


/*SOBRE O SITE*/
.sobre{background-color:#00CD00; color:#FFFFFF; text-align:justify;}

.sobre1{background-color:#0000FF; color:#FFFFFF; text-align:justify;}


/*EQUIPE*/

.img_equi{background-color:#00BFFF; text-align:center; color:black;font-weight:bold; margin-top:30px; border: white solid 1px}


/*FORMULÁRIO*/
.img_form{text-align:center;}

/*RODAPÉ*/

.footer{background-color:black; color:white;}

/*post*/

.data{background:#4682B4; text-align:center; color:#fff;}

.dia{font-size:50px;}

.titulo{font-size:50px; font-weight:bold; color:#000080;padding:12px;}

.escrito{font-size:20px; color:black;}

.img{text-align:center; padding:20px;}

.textcont{padding:10px; font-size:15px; text-align:justify;}

/* LOGIN*/

.borda_iden{border:double 4px #FFA500; border-radius:10px}

